@forward "variables";
@forward "mixins";

/* ==========================================================================
   Smooth Scroll Offset (スムーススクロール時の停止位置調整)
========================================================================== */
#troubles,
#concept,
#features,
#reviews,
#faq {
  scroll-margin-top: 80px;
}

@media screen and (max-width: 767px) {
  #troubles {
    scroll-margin-top: 70px;
  }

  #concept,
  #features,
  #reviews,
  #faq {
    scroll-margin-top: 20px;
  }
}

/* ==========================================================================
   Utility Classes (汎用クラス)
========================================================================== */
.u-bg-decor {
  background-image: url("../img/bg-decor-pattern.svg"); 
  background-size: 500px;
  background-repeat: repeat;
  background-position: center top;
}
.u-margin-bottom-24 {
  margin-bottom: clamp(16px, 2vw, 24px) !important;
}

/* ==========================================================================
   Common & Utility Styles
========================================================================== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-zen);
  font-size: var(--text-16);
  font-weight: 500;
  color: var(--Bitter-Choco);
  background-color: var(--Milky-White);
  line-height: var(--lh-auto);
  -webkit-font-smoothing: antialiased;
}

.u-text-large {
  font-size: 1.5em;
  font-weight: 700;
}