@use "destyle";

/* ==========================================================================
   Common & Base Styles (基本設定)
========================================================================== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-zen);
  font-size: var(--text-16);
  font-weight: 500;
  color: var(--Bitter-Choco);
  background-color: var(--Milky-White);
  line-height: var(--lh-auto);
  -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
   Layout Classes (レイアウト用の箱)
========================================================================== */
.l-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
}

.l-section {
  padding-block: var(--Spacing-80);
}

@media (max-width: 767px) {
  .l-section {
    padding-block: var(--Spacing-48);
  }
}

/* ==========================================================================
   Smooth Scroll Offset (スムーススクロール時の停止位置調整)
========================================================================== */
#troubles,
#concept,
#features,
#reviews,
#faq {
  scroll-margin-top: 80px;
}

@media screen and (max-width: 767px) {
  #troubles {
    scroll-margin-top: 70px;
  }

  #concept,
  #features,
  #reviews,
  #faq {
    scroll-margin-top: 20px;
  }
}

/* ==========================================================================
   Utility Classes (汎用クラス)
========================================================================== */
.u-bg-decor {
  background-image: url("../img/bg-decor-pattern.svg"); 
  background-size: 500px;
  background-repeat: repeat;
  background-position: center top;
}

.u-margin-bottom-24 {
  margin-bottom: clamp(16px, 2vw, 24px) !important;
}

.u-text-large {
  font-size: 1.5em;
  font-weight: 700;
}

/* ▼ 表示・非表示の切り替え */
@media screen and (min-width: 1025px) {
  .u-hidden-pc {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .u-hidden-sp {
    display: none !important;
  }
}