@use "../global/variables" as *;
@use "../global/mixins" as *;

/* ==========================================================================
   Drawer Menu (ハンバーガーメニュー)
========================================================================== */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: var(--Milky-White);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.drawer.is-open {
  opacity: 1;
  visibility: visible;
}
.drawer__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  height: 70px;
}
.drawer__logo img {
  height: 28px;
  background: none;
}
.drawer__nav {
  flex: 1;
  padding-top: 20px;
}
.drawer__link {
  display: block;
  text-align: center;
  padding: var(--Spacing-16);
  font-size: var(--text-18);
  font-weight: 700;
  border-top: 1px solid var(--Bitter-Choco);
  background-color: var(--Milky);
}
.drawer__item:last-child .drawer__link {
  border-bottom: 1px solid var(--Bitter-Choco);
}
.drawer__footer {
  padding: var(--Spacing-40) 20px;
  text-align: center;
}
.drawer__catch {
  font-size: var(--text-16);
  font-weight: 700;
  margin-bottom: var(--Spacing-16);
}
.drawer__download {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.drawer__download img {
  height: clamp(52px, 6vw, 60px);
  background: none;
}
/* ==========================================================================
   Drawer Menu (タブレット専用の調整)
========================================================================== */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .drawer__header {
    display: none; 
  }
  
  .drawer__nav {
    flex: none;
    padding-top: 100px;
  }
  
  .drawer__footer {
    margin-top: 40px;
  }
}